<section #Barrier class="Barrier">
  <div #playZone class="playZone">
    <span #playerRed class="Player1" style="top: 250px"></span>
    <span #playerBlue class="Player2" style="top: 250px"></span>

    <div #ball class="Ball" style="top: 250px; left: 500px;"></div>
  </div>
</section>

<div style="display: flex; justify-content: center; gap: 50px; margin: 20px;">
  <button #gameStart (click)="this.f_startGame()" style="padding: 10px 20px; font-size: 30px;">Start Game</button>
  <button #gameEnd (click)="this.f_endGame()" style="padding: 10px 20px; font-size: 30px;">End Game</button>
</div>